@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SocialNetwork.Web.Models.TestAPI

@{
}

<div>
    <strong>Message: </strong>@Model.message
</div>
<div>
    @foreach(var claim in Model.claims)
    {
        @claim
        <br />
    }
</div>


